<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Cadastre-se</h2>
                    <h3 class="section-subheading text-muted">Experimente o wiivan! Deixe o seu cadastro e ganhe uma semana de viagens grátis!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- <form action="https://formspree.io/viniciusferracoarruda@gmail.com" method="POST" class="simple-search">
                        <div>
                            <input type="text" name="user_name" placeholder="Name" id="goog-wm-qt-mine" autofocus/>
                        </div>
                        <div>
                            <input type="email" name="user_mail" placeholder="Email Address" id="goog-wm-qt-mine" autofocus required/>
                        </div>
                        <div>
                            <textarea name="user_message" id="goog-wm-qt-mine" placeholder="Message" autofocus></textarea>
                        </div>
                        <div>
                            <input type="submit" value="Submit" id="goog-wm-sb" />
                        </div>
                    </form> -->
                    <!-- <form method="POST" action="https://formspree.io/viniciusferracoarruda@gmail.com">
                        <input type="email" name="email" placeholder="Your email">
                        <textarea name="message" placeholder="Test Message"></textarea>
                        <button type="submit">Send Test</button>
                      </form> -->
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


