  <footer>
        <div class="container">
            <div class="row">
                <!--                
                <div class="col-md-12">
                    <a href="https://wa.me/5527997229922/?text=Olá!">
                        <button type="submit" class="btn btn-zap">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-whatsapp fa-2x fa-pull-left"></i>
                        </span>
                        <text style="font-size:18px;">Fale conosco!</text>
                        </button>       
                    </a>
                </div>
                -->
            </div>
        </div>
    </footer>
