  <footer>
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div> -->
                <!-- <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div> -->
                <div class="col-md-12">
                    <!-- <i class="fab fa-whatsapp"></i> -->
                    <!-- <a href="https://wa.me/5527997229922/?text=Olá!" style="font-size:2em">Dúvidas? Entre em contato conosco diretamente pelo WhatsApp!</a> -->
                    <!-- <a href="https://wa.me/5527997229922/?text=Olá!" style="font-size:1em">
                    <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-zap"></i>
                            <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i>
                        </span>
                    <text style="font-size:2em" >Dúvidas? Fale conosco!</text></a> -->

                    <a href="https://wa.me/5527997229922/?text=Olá!" class="btn btn-zap">
                        <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-zap"></i>
                                <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i>
                            </span>
                        <!-- <a href="https://wa.me/5527997229922/?text=Olá!" style="font-size:2em">Dúvidas? Entre em contato conosco diretamente pelo WhatsApp!</a> -->
                        <text style="font-size:18px" >Dúvidas? Fale conosco!</text>
                    </a>
                </div>
            </div>
        </div>
    </footer>
