<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Missão</h2>
                    <h3 class="section-subheading text-muted">Somos uma startup capixaba que veio para revolucionar o transporte coletivo, trazendo qualidade de verdade na sua locomoção do dia a dia !</h3>
                </div>
            </div>
            <div class="row text-center">
                <!-- <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-check-circle-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Qualidade</h4>
                    <p class="text-muted">Resultado de todos os fatores de um transporte sendo positivos.</p>
                </div> -->
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shield fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Segurança</h4>
                    <p class="text-muted">Ambiente seguro, com todos os passageiros e motoristas cadastrados, além de todos viajarem de cinto de segurança.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Preço</h4>
                    <p class="text-muted">Mesmo preço da passagem de um transporte público convencional.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Conforto</h4>
                    <p class="text-muted">Todos os passageiros viajam sentados em assentos espaçosos e individuais em um ambiente climatizado.</p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- check-circle-o -->
    <!--trophy -->
    <!-- group -->
    <!-- money -->
    <!-- lightbulb-o -->
    <!-- smile-o -->
    <!-- shield -->
    <!-- thumbs-o-up -->
    <!-- thumbs-up -->
    <!-- car -->
    <!-- bus -->  <!-- parece van -->